body{
    text-align: center;
    margin: auto;
    width: 400px;
    border-radius: 15px;
    background-color: slategrey;  
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;  
    
}
h2 {
     color: blue;
     font-family:fantasy
}
label {
    color:maroon;
    padding: auto;
    font-family: fantasy;
    
}
input{
     text-align: center;
     padding: 5px;
     border-radius: 20px;
     color: cornflowerblue;
     font-family: fantasy;
}
.box {
      background-color: black;
      padding: 40px;
      text-align: center;
      border-radius: 20px;
}
.box2 {
    background-color: black;
    color: cornflowerblue;
    border-radius: 20px;
     padding:30px ;
     
}
p{
    color: maroon;
     font-family: fantasy;
     

}
#quilometros{
    color: white;
}

